.project-form>div {
    background-color: #fff;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

.project-form>div:nth-child(1) {
    padding-top: 20px;
    padding-bottom: 20px
}

.project-form>div {
    padding: 20px;
}

.project-form>div:last-child {
    padding: 0px;
    color: transparent;
    background-color: transparent;
}

#individual-client {
    position: relative;
}

#root .css-q7q8hj .MuiTextField-root {
    margin: 10px 0;
}

#root form .css-q7q8hj .MuiTextField-root {
    margin-top: 0;
}

#root .css-phksla-MuiInputBase-root-MuiFilledInput-root {
    margin: 0;
}